.root {
  display: flex;
}
.post {
  display: block;
  width: 100px;
  border-radius: 2px;
}
.detail {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
  color: #fff;
}
.title {
  font-size: 18px;
  padding-bottom: 8px;
}
.vote {
  color: #aaa;
  font-size: 14px;
  font-style: italic;
  margin-right: 10px;
}
.vote.high {
  color: #3bb33b;
}
.date {
  font-size: 14px;
}
